

<div class="container">
<div class="col-md-7 col-md-offset-3 clearfix">
<form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
  <h4 class="form-signin-heading">Create an account</h4>
<hr/>
<% if(flash && flash.err) { %>
<ul class="alert alert-danger" style="list-style:none">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>


  <div class="control-group">
  <input type="text" class="form-control" placeholder="Email address" name="email">
  </div>

  <div class="control-group">
  <input type="password" class="form-control" placeholder="Password" name="password" id="password">
  </div>

  <div class="control-group">
  <input type="password" class="form-control" placeholder="Password confirmation" name="confirmation" id="confirmation">
  <br />
  </div>

  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
</div>
</div>