<style>
	.online{
		display: block;
		width:20px;
		height:20px;

	}
</style>
<div class="row">
	<div class="col-md-8">Welcome to my page.
		<ul class="tabs nav nav-tabs">
		</ul>

		<!-- tab "panes" -->
		<div class="panes">

		</div>
	</div>
	<div class="col-md-4">
		<div class="list-group list-online">
		</div>
	</div>
</div>

<style>
	.Contentchat{
		width:500px;
		height: 500px;
		background:#F6CEF5;
	}
	
</style>
	<script src="/js/app.js"></script>
	<script src="/js/user.js"></script>
